:root {
  --primary-color: #ca965c;
  --secondary-color: #f4dfba;
  --heading-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}
h1,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
body {
  background-color: var(--primary-color);
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
  font-family: var(--secondary-font-family);
}
h3 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

p {
  font-family: var(--paragraph-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: #f4dfba;
  text-align: center;
  border-radius: 4;
  padding: 160px 20px;
}

.hero p {
  font-family: var(--secondary-font-family);
  font-size: 35px;
  font-weight: normal;
}

.hero h3 {
  font-family: var(--secondary-font-family);
  font-size: 24px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h3 {
  font-size: 15px;
}
.content-container {
  padding: 160px 20px;
}

.content {
  margin: 30px;
}
.btn-branding {
  line-height: 30px;
  padding: 15px 30px;
}
.btn-skintype {
  background-color: var(--secondary-color);
  line-height: 30px;
  padding: 15px 30px;
}

#tagline {
  font-size: 50px;
  font-weight: 34px;
}
@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 50px;
  }
  #tagline {
    font-size: 20px;
  }
  p,
  h2 {
    margin-top: -40;
    margin-bottom: 0px;
    padding: 0px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .about-section h1 {
    font-size: 40px;
    line-height: 1;
  }
}
